# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite/deps/_metadata.json
.vite/deps/chunk-5WQJO2FO.js
.vite/deps/chunk-5WQJO2FO.js.map
.vite/deps/chunk-QOVZGY7A.js
.vite/deps/chunk-QOVZGY7A.js.map
.vite/deps/package.json
.vite/deps/react_jsx-dev-runtime.js
.vite/deps/react_jsx-dev-runtime.js.map
.vite/deps/react-dom_client.js
.vite/deps/react-dom_client.js.map
.vite/deps/react-router-dom.js
.vite/deps/react-router-dom.js.map
.vite/deps/react.js
.vite/deps/react.js.map
